.alinhar-input{
	margin-left:5% !important;
}
.alinhar-titulo{
	margin-left:8% !important;
}
.btn-success-personalizado{
	background-image: linear-gradient(to bottom,#FC00C9 0,#3D0554 100%) !important;
	border-color: #000000 !important;
	border-radius: 20px !important;
	color: white !important;	
}
.bt-info-personalizado{
	background-image: linear-gradient(to bottom,#5bc0de 0,#010303 100%) !important;
	border-color: #000000 !important;
	border: 2px solid !important;
    border-radius: 20px !important;
    color: white !important;       
}
.espaco-botoes{
	margin-top:10px !important;
	margin-left:15px !important;
}