<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<f:event listener="#{alunoMB.logado}" type="preRenderView" />

<h:head>
	<title>Novo Aluno</title>
</h:head>

<h:body>
	<h:form>
		<h:outputLabel value="Pessoas:" />
		<h:selectOneMenu value="#{alunoMB.idPessoa}" converter="javax.faces.Integer">
			<f:selectItems value="#{alunoMB.pessoas}" var="p" itemLabel="#{p.nomeSocial}" itemValue="#{p.id}"/>
		</h:selectOneMenu>
		&nbsp;
		<h:commandButton action="pessoa?faces-redirect=true" value="Nova Pessoa"/>
		<p></p>
		
		<h:outputLabel value="Forma de Pagamento:" />
		<h:inputText value="#{alunoMB.formaPagamento}"></h:inputText>
		<p></p>
   		
		<h:commandButton action="#{alunoMB.salvar}" value="Salvar"/>
		&nbsp;
		<h:commandButton action="index?faces-redirect=true" value="Cancelar"></h:commandButton>
		<p></p>
		<h:outputText value="#{alunoMB.msgAviso}" />
		<h:messages id="msgErro" style="color: red"></h:messages>
	</h:form>
</h:body>
</html>