<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
<f:event listener="#{funcionarioMB.logado}" type="preRenderView" />

<h:head>
	<title>Novo Funcionário</title>
</h:head>

<h:body>
	<h:form>
		<h:outputLabel value="Pessoas:" />
		<h:selectOneMenu value="#{funcionarioMB.idPessoa}" converter="javax.faces.Integer">
			<f:selectItems value="#{funcionarioMB.pessoas}" var="p" itemLabel="#{p.nomeSocial}" itemValue="#{p.id}"/>
		</h:selectOneMenu>
		&nbsp;
		<h:commandButton action="pessoa?faces-redirect=true" value="Nova Pessoa"/>
		<p></p>
		
		<h:outputLabel value="Data de admissão: "/>
		<h:inputText value="#{funcionarioMB.dtAdmissao}">
			<f:convertDateTime pattern="yyyy-MM-dd"/>
		</h:inputText>
		<p></p>
		
		<h:outputLabel value="Cargo: "/>
		<h:selectOneMenu value="#{funcionarioMB.cargo}">
			<f:selectItem itemValue="professor" itemLabel="Professor(a)"/>
			<f:selectItem itemValue="vendedor" itemLabel="Vendedor(a)"/>
			<f:selectItem itemValue="sencretario" itemLabel="Secretario(a)"/>
		</h:selectOneMenu>            
		<p></p>
		
		<h:outputLabel value="Formação:" />
		<h:inputText value="#{funcionarioMB.formacao}"/>
		<p></p>
		
		<h:outputLabel value="Login:" />
		<h:inputText value="#{funcionarioMB.login}"/>
		<p></p>
		
	    <h:outputLabel value="Senha:"/>
   		<h:inputSecret value="#{funcionarioMB.senha}"/>
   		<p></p>
   		
   		<h:outputLabel value="Confirme a senha: "/>
   		<h:inputSecret value="#{funcionarioMB.resenha}"/>
   		<p></p>
		
		<h:commandButton action="#{funcionarioMB.salvar}" value="Salvar"/>
		&nbsp;
		<h:commandButton action="index?faces-redirect=true" value="Cancelar"></h:commandButton>
		<p></p>
		<h:outputText value="#{funcionarioMB.msgAviso}" />
		<h:messages id="msgErro" style="color: red"></h:messages>
	</h:form>
</h:body>
</html>