<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<f:event listener="#{indexMB.logado}" type="preRenderView" />

<h:head>
	<link rel="stylesheet" href="alinhamento.css"></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"></link>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<title>Menu</title>
</h:head>

<h:body>
	<h:form>
		<div class="alinhar-titulo">
			<h1>Menu</h1>
		</div>
		<div class="btn-group btn-group-lg centro">
			<br />
			<h:commandButton class="btn bt-info-personalizado espaco-botoes"
				action="aluno?faces-redirect=true" value="Cadastrar Aluno" />
			<br />
			<h:commandButton class="btn bt-info-personalizado espaco-botoes"
				action="funcionario?faces-redirect=true"
				value="Cadastrar Funcionario" />
			<br />
			<h:commandButton class="btn bt-info-personalizado espaco-botoes"
				action="produto?faces-redirect=true" value="Cadastrar Produto" />
			<br />
			<h:commandButton class="btn bt-info-personalizado espaco-botoes"
				action="curso?faces-redirect=true" value="Cadastrar Curso" />
			<br />
			<h:commandButton class="btn bt-info-personalizado espaco-botoes"
				action="turma?faces-redirect=true" value="Cadastrar Turma" />
			<br />
			<h:commandButton class="btn bt-info-personalizado espaco-botoes"
				action="matricula?faces-redirect=true" value="Matricular" />
			<br />
			<h:commandButton class="btn bt-info-personalizado espaco-botoes"
				action="venda?faces-redirect=true" value="Nova Venda" />
		</div>
	</h:form>
</h:body>
</html>
