<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<link rel="stylesheet" href="alinhamento.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Login</title>
</h:head>

<h:body>

<div class="alinhar-titulo">
	<h1>Login</h1>
</div>
<div class="container-fluid">
	<div class="bloco-cadastro">
		<h:form name="formulario" >
			<div class="form-group alinhar-input">
				<div class="col-md-3">
					<h:outputLabel class="control-label" value="Login:"/>
					<h:inputText class="form-control" value="#{loginMB.login}"></h:inputText>
					<br/>
					<h:outputLabel class="control-label" value="Senha:" />
					<h:inputSecret class="form-control" value="#{loginMB.senha}"></h:inputSecret>
					<br/>
					<h:commandButton class="btn btn-success-personalizado" action="#{loginMB.logar}" value="Entrar" />
					<br/>
					<br/>
					<h:outputText value="#{loginMB.msgAviso}" />
					<h:messages id="msgErro" style="color: red"></h:messages>
				</div>
			</div>
		</h:form>
	</div>
</div>
</h:body>
</html>