<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
<f:event listener="#{matriculaMB.logado}" type="preRenderView" />

<h:head>
	<title>Nova Matrícula</title>
</h:head>

<h:body>
	<h:form>
		<h:outputLabel value="Turmas:" />
		<h:selectOneMenu value="#{matriculaMB.idTurma}" converter="javax.faces.Integer">
			<f:selectItems value="#{matriculaMB.turmas}" var="t" itemLabel="#{t.tema}" itemValue="#{t.id}"/>
		</h:selectOneMenu>
		&nbsp;
		<h:commandButton action="turma?faces-redirect=true" value="Nova Turma"/>
		<p></p>
	
		<h:outputLabel value="Pessoas:" />
		<h:selectOneMenu value="#{matriculaMB.idPessoa}" converter="javax.faces.Integer">
			<f:selectItems value="#{matriculaMB.pessoas}" var="p" itemLabel="#{p.nomeSocial}" itemValue="#{p.id}"/>
		</h:selectOneMenu>
		&nbsp;
		<h:commandButton action="aluno?faces-redirect=true" value="Novo Aluno"/>
		<p></p>
		
		<h:commandButton action="#{matriculaMB.salvar}" value="Salvar"/>
		&nbsp;
		<h:commandButton action="index?faces-redirect=true" value="Cancelar"></h:commandButton>
		<p></p>
		<h:outputText value="#{matriculaMB.msgAviso}" />
		<h:messages id="msgErro" style="color: red"></h:messages>
	</h:form>
</h:body>
</html>