<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<f:event listener="#{produtoMB.logado}" type="preRenderView" />
	
<h:head>
	<title>Novo Produto</title>
</h:head>

<h:body>
	<h:form>
	
		<h:outputLabel value="Quantidade: " />
		<h:inputText value="#{produtoMB.quantidade}"/>
		<p></p>
		
		<h:outputLabel value="Descrição: " />
		<h:inputText value="#{produtoMB.descricao}"/>
		<p></p>
		
		<h:outputLabel value="Valor: " />
		<h:inputText value="#{produtoMB.valor}"/>
		<p></p>
	
		<h:commandButton action="#{produtoMB.salvar}" value="Salvar"/>
		&nbsp;
		<h:commandButton action="index?faces-redirect=true" value="Cancelar"/><br/>
		<p></p>
		
		<h:outputText value="#{produtoMB.msgAviso}" />
		<h:messages id="msgErro" style="color: red"></h:messages>
	</h:form>
</h:body>
</html>