<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
<f:event listener="#{turmaMB.logado}" type="preRenderView" />

<h:head>
	<title>Nova Turma</title>
</h:head>

<h:body>
	<h:form>
		<h:outputLabel value="Curso:" />
		<h:selectOneMenu value="#{turmaMB.idCurso}" converter="javax.faces.Integer">
			<f:selectItems value="#{turmaMB.cursos}" var="p" itemLabel="#{p.descricao}" itemValue="#{p.id}"/>
		</h:selectOneMenu>
		&nbsp;
		<h:commandButton action="curso?faces-redirect=true" value="Novo Curso"/>
		<p></p>
		
		<h:outputLabel value="Capcidade:" />
		<h:inputText value="#{turmaMB.capacidade}"/>
		<p></p>
		
		<h:outputLabel value="Data inicio: " required="true"/>
		<h:inputText value="#{turmaMB.dataInicio}">
			<f:convertDateTime pattern="yyyy-MM-dd"/>
		</h:inputText>
		<p></p>
		
		<h:outputLabel value="Data fim: " required="true"/>
		<h:inputText value="#{turmaMB.dataFim}">
			<f:convertDateTime pattern="yyyy-MM-dd"/>
		</h:inputText>
		<p></p>
		
		<h:outputLabel value="Tema: " />
		<h:inputText value="#{turmaMB.tema}"/>
		<p></p>
		
		<h:outputLabel value="Período da turma: " />
		<h:selectOneRadio value="#{turmaMB.manha}">
			<f:selectItem itemValue="true" itemLabel="Manhã"/>
		</h:selectOneRadio>
		<h:selectOneRadio value="#{turmaMB.tarde}">
			<f:selectItem itemValue="true" itemLabel="Tarde"/>
		</h:selectOneRadio>
		<h:selectOneRadio value="#{turmaMB.noite}">
			<f:selectItem itemValue="true" itemLabel="Noite"/>
		</h:selectOneRadio>
		<p></p>
		
		<h:commandButton action="#{turmaMB.salvar}" value="Salvar"/>
		&nbsp;
		<h:commandButton action="index?faces-redirect=true" value="Cancelar"/>
		<p></p>
		<h:outputText value="#{turmaMB.msgAviso}" />
		<h:messages id="msgErro" style="color: red"></h:messages>
	</h:form>
</h:body>
</html>