<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<f:event listener="#{vendaMB.logado}" type="preRenderView" />

<h:head>
	<title>Nova Venda</title>
</h:head>

<h:body>
	<h:form>
		<h:outputLabel value="Pessoas:" />
		<h:selectOneMenu value="#{vendaMB.idPessoa}" converter="javax.faces.Integer">
			<f:selectItems value="#{vendaMB.pessoas}" var="p" itemLabel="#{p.nomeSocial}" itemValue="#{p.id}"/>
		</h:selectOneMenu>
		<p></p>
	
		<h:outputLabel value="Produtos:" />
		<h:selectManyListbox value="#{vendaMB.produtosCompra}" >
			<f:selectItems value="#{vendaMB.produtosVenda}" var="d" itemLabel="#{d.descricao} - Qtd: #{d.quantidade}" itemValue="#{d.id}"/>
		</h:selectManyListbox>
		<p></p>
		
		<h:outputLabel value="Quantidade: "/>
		<h:inputText value="#{vendaMB.quantidade}"/>
		<p></p>
		
		<h:commandButton action="#{vendaMB.salvar}" value="Salvar"/>
		&nbsp;
		<h:commandButton action="index?faces-redirect=true" value="Cancelar"/>
		<p></p>
		<h:outputText value="#{vendaMB.msgAviso}" />
		<h:messages id="msgErro" style="color: red"/>
	</h:form>
</h:body>
</html>